
    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-7 col-md-offset-1">
            <p class="text-muted text-left"><a href="{{ site.url }}">{{ site.footer_text }}</a> {{ site.attribution }}</p>
          </div>

          <div class="col-xs-12 col-md-1 col-md-offset-2">
            <a class="section-jump" href="#top">
              <i class="fa fa-angle-up fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

  </div><!-- .main.container -->

    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/js/wow.min.js"></script>
    <script src="{{ site.url }}/js/app.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', ' {{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');

    </script>

    </body>
</html>
