<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}
  
  {% if post.google_play_link %}
  <a href="{{ post.google_play_link }}"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' class="google-play-link" /></a>
  {% endif %}

  {% if post.tags %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag | replace: "~"," " }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
